html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;

}
#wrapper {
    width: 1024px;
}
footer {
    text-align: center;
}
menu2 {
    font-size: 100%;
    float: right;
}
text {
    font-size: 100%;
    width: 555px;
    text-align: left;
    float: left;
    padding-left: 25px;
    padding-rigth: 225px;
}
title {
    font-size: 100%;
}
menu {
    padding-left: 0px;
}
menu li {
    display: inline;
}