html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 34px;

}
#wrapper {
    width: 1280px;
}
footer {
    text-align: center;
}
menu2 {
    font-size: 100%;
    float: left;
    padding-left: 19px;
}
text {
    font-size: 130%;
    width: 900px;
    text-align: left;
    float: left;
    padding-left: 30px;
    padding-rigth: 30px;
}
textmain {
    font-size: 130%;
    width: 900px;
    text-align: left;
    float: left;
    padding-left: 30px;
    padding-rigth: 30px;
}
title {
    font-size: 100%;
}
menu {
    padding-left: 0px;
}
menu li {
    display: inline;
}
#logo {
    width: 420px;
    padding-left: 21px;
    padding-right: 21px;
    float: left;
    height: 280px;
}
#cat {
    width: 900px;
    padding-left: 160px;
    padding-right: 30px;
    height: 630px;
}