html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;

}
#wrapper {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
}
h1 {
    font-size: 100%;
    text-align: center;
}
h2 {
    font-size: 240%;
    width: 960px;
    text-align: center;
}
h3 {
    font-size: 100%;
}
menu {
    padding-left: 0px;
}
menu li {
    display: inline;
}